<button id='button'>
		<div class="character">
			<div class="character__head">
				<div class="character__hat"></div>

				<div class="character__eyes"></div>
				<div class="character__nose"></div>
				<div class="character__mouth"></div>
				<div class="character__beard"></div>
			</div>

			<div class="character__body">
				<div class="character__arm">
					<div class="character__hand"></div>
				</div>
			</div>
		</div>
	</button>

	<div id='modalHolder'>
		<div class='modalContainer'>
			<button id='closeModalButton'>x</button>

					<div class="character modalChar">
			<div class="character__head">
				<div class="character__hat"></div>

				<div class="character__eyes"></div>
				<div class="character__nose"></div>
				<div class="character__mouth"></div>
				<div class="character__beard"></div>
			</div>

			<div class="character__body">
				<div class="character__arm">
					<div class="character__hand"></div>
				</div>
			</div>
		</div>

			<div class="question-container">
			 	<h1>Bonjour !</h1>
				<h2 id='question'></h2>
				<div id='buttonRep'>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
				</div>
				<div id='product-container'>
					<a href='{{ path('sofa') }}' class='product'>Canapé convertible beige-blanc</a>
					<a href='{{ path('sofa1') }}' class='product'>Canapé convertible rafael bleu canard</a>
					<a href='{{ path('sofa2') }}' class='product'>Canapé convertible BREKKE gris clair</a>
					<a href='' class='product'>Autres suggestions</a>
					<a href='' class='product'>Plus de suggestions</a>
					<a href='' class='product'>Me rendre sur la page avec les filtres appliqués</a>
				</div>
			</div>
			</div>
		</div>
	</div>
