{% extends 'base.html.twig' %}

{% block title %}home
{% endblock %}

{% block body %}

	<button id='button'>
		<div class="character">
			<div class="character__head">
				<div class="character__hat"></div>

				<div class="character__eyes"></div>
				<div class="character__nose"></div>
				<div class="character__mouth"></div>
				<div class="character__beard"></div>
			</div>

			<div class="character__body">
				<div class="character__arm">
					<div class="character__hand"></div>
				</div>
			</div>
		</div>
	</button>

	<div id='modalHolder'>
		<div class='modalContainer'>
			<p>tetetetetetddd</p>
			<a href="#">a</a>
			<button id='closeModalButton'>x</button>
		</div>
	</div>

{% endblock %}
