body {
    margin:0;
    padding:0;
}

#button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#modalHolder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}
.modalContainer {
    background-color: rgb(0, 255, 221);
    width: fit-content;
}

#closeModalButton {
    position: relative;
    top: 0;
    right: 0;
}
