@import 'variables.scss';

body {
    background-color: lightgray;
    height: 100vh;
}

// modal home
#button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: none;
    border: none;
}

#modalHolder {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}
.modalContainer {
    background-image: linear-gradient(to right, #7492c4 0%, #92b8ca 51%, #a1c4fd 100%);
    width: 80%;
    height: 80%;
    z-index: 0;
}

#closeModalButton {
    position: relative;
    top: 0;
    right: 0;
    margin-left: 45.3rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    padding: 1rem;
}

.question-container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 6px solid #3C5474;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.question-container h1 {
    margin-bottom: 1rem;
    font-size: 3.4rem;
    font-family: fangsong;
    font-weight: bold;
}

.question-container h2 {
    font-size: 2.7rem;
    text-align: center;
    font-family: fangsong;
    font-weight: bold;
}

.list {
    font-size: 2rem;
    margin-top: 1.5rem;
}

// modal end
// start answer
#question {
    margin-bottom: 2rem;
}

.choixRep{
    border-radius: 1rem;
    border: solid thin;
    background-color: transparent;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    border: 4px solid #3C5474;
}
// end answer
// start modal product
#product-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    border: solid thin;
    margin-bottom: 2rem;
    border-radius: 2rem;
    border: 4px solid #3C5474;
}
// end modal product
// Start Tool Genius

.modalChar{
    right: -16rem;
    top: 0rem;
}

.character {
    font-size: 25px;
    position: relative;
    bottom: -3.5em;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character__head {
    position: relative;
    width: 6.4375em;
    height: 8.3125em;
    background: linear-gradient($wax-flower calc(100% - 6.125em), transparent 0);
    
    // hair
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: -0.125em;
        left: 50%;
        transform: translateX(-50%);
        width: 9.0625em;
        height: 1.875em;
        border-radius: 1.875em;
        background-color: $mule-fawn;
        z-index: -1;
    }

    &::after {
        top: 1.5625em;
        width: 9.875em;
        height: 1.5em;
        border-radius: 0 0 1.5em 1.5em;
    }
}

.character__hat {
    position: absolute;
    top: -3.875em;
    width: 6.4375em;
    height: 3.9375em;
    border-radius: 6.4375em 6.4375em 0 0;
    background-color: $mine-shaft;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &::before {
        content: '';
        width: 7.5em;
        height: 1.25em;
        border-radius: 0.3125em;
        background-color: $mine-shaft-2;
    }
}

.character__eyes {
    position: relative;
    top: 0.125em;
    width: 100%;
    height: 0.875em;
    display: flex;
    justify-content: space-around;

    &::before,
    &::after {
        content: '';
        width: 0.875em;
        height: 0.875em;
        border-radius: 50%;
        background-color: $tonys-pink;
    }
}

.character__nose {
    position: absolute;
    top: 0.3125em;
    left: 50%;
    transform: translateX(-50%);
    width: 1.0625em;
    height: 1.5em;
    border-radius: 0.3125em;
    background-color: $vivid-tangerine;
    z-index: 1;
}

.character__mouth {
    position: absolute;
    top: 2.1875em;
    left: 50%;
    transform: translateX(-50%);
    width: 3.5em;
    height: 1.75em;
    border-radius: 0 0 1.75em 1.75em;
    background: linear-gradient($white 0.625em, $burnt-umber 0);
    overflow: hidden;
    z-index: 1;

    // toungue
    &::before {
        content: '';
        position: absolute;
        bottom: -1.125em;
        left: 50%;
        transform: translateX(-50%);
        width: 2.1875em;
        height: 2.1875em;
        border-radius: 50%;
        background-color: $valencia;
    }
}

.character__beard {
    position: absolute;
    bottom: 0;
    width: 6.4375em;
    height: 6.125em;
    border-radius: 0 0 6.4375em 6.4375em;
    background-color: $brown-rust;

    // mustache
    &::before {
        content: '';
        position: absolute;
        top: -1em;
        left: 50%;
        transform: translateX(-50%);
        width: 4.875em;
        height: 1.125em;
        border-radius: 1.125em 1.125em 0 0;
        background-color: inherit;
    }
}

.character__body {
    position: relative;
    top: -2.8125em;
    width: 9.375em;
    height: 4.375em;
    border-radius: 9.375em 9.375em 0 0;
    z-index: -1;
    background:
        linear-gradient(transparent 0, transparent 2.875em, rgba($old-brick, 0.8) 2.875em, rgba($old-brick, 0.8) calc(2.875em + 1.25em), transparent calc(2.875em + 1.25em)),
        repeating-linear-gradient(to right, $persian-red 0,  $persian-red 1.25em, rgba($old-brick, 0.95) 1.25em, rgba($old-brick, 0.95) 2.6875em);

    // button
    &::before {
        content: '';
        position: absolute;
        bottom: 0.625em;
        left: 50%;
        transform: translateX(-50%);
        width: 0.625em;
        height: 0.625em;
        border-radius: 50%;
        background-color: $white;
    }
}

.character__arm {
    position: absolute;
    bottom: 0;
    right: -1.25em;
    width: 2.0625em;
    height: 2.25em;
    background-color: $vivid-tangerine;
}

.character__hand {
    position: absolute;
    right: 0;
    top: -1.75em;
    width: 2.375em;
    height: 2.3125em;
    border-radius: 0.5em 0 0 0.5em;
    background-color: inherit;

    // fingers
    &::before {
        content: '';
        position: absolute;
        top: -0.0625em;
        right: -0.375em;
        width: 2.25em;
        height: 0.875em;
        border-radius: 0.875em;
        color: $wax-flower;
        background-color: currentColor;
        box-shadow: 0 0.8125em, 0 1.625em;
        z-index: 1;
    }

    // thumb
    &::after {
        content: '';
        position: absolute;
        left: 0.25em;
        top: -1.125em;
        width: 0.9375em;
        height: 1.5625em;
        border-radius: 0.9375em 0.9375em 0 0;
        background-color: inherit;
    }
}
// End Tool Genius

// page home

.page-home {
    width:100%;
}

// home end

.reponse {
    font-size: 2rem;
}
