$brown-rust: #a55f38;
$burnt-umber: #8e2f2a;
$half-spanish-white: #fef2dc;
$mine-shaft: #303030;
$mine-shaft-2: #3d3d3d;
$mule-fawn: #93502e;
$old-brick: #912323;
$persian-red: #d33131;
$tonys-pink: #ea9486;
$valencia: #d34e46;
$vivid-tangerine: #ff9d8a;
$wax-flower: #ffb5a1;
$white: #ffffff;